@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<Button Type="@ButtonType.Primary">@testMsg</Button>

<AntDesign.InputNumber @bind-Value="@myValue" Min="1" Max="10" DefaultValue="3"
                       PlaceHolder="please input something" OnChange="NumChange" TValue="double"></AntDesign.InputNumber>

@code {
    private double myValue { get; set; }
    private string testMsg = "Primary";

    private void NumChange()
    {
        testMsg = "" + myValue;
    }
}