@inherits LayoutComponentBase

@*<PageTitle>BlazorApp1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@


<Layout>
    <NavMenu />
    <Content Class="site-layout" Style="padding:0 50px; margin-top: 64px; ">
        <Breadcrumb Style=" margin: 16px 0;">
            <BreadcrumbItem>Home</BreadcrumbItem>
            <BreadcrumbItem>List</BreadcrumbItem>
            <BreadcrumbItem>App</BreadcrumbItem>
        </Breadcrumb>
        <div class="site-layout-background" style="padding: 24px; min-height: 380px ">
            @Body
        </div>
    </Content>
    <Footer Style="text-align: center;">Ant Design ©2018 Created by Ant UED</Footer>
</Layout>

<style>
    #components-layout-demo-fixed .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }

    .site-layout .site-layout-background {
        background: #fff;
    }
</style>